#itemList {
	width: 100%;
	height: auto;
}

#compareItem {
	width: 100%;
	height: auto;
	overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.itemInfo {
	margin-right: 30px;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 30px;
	width: 200px;
	height: 300px;
	background-color: whitesmoke;
	display: inline-block;
	font-size: 20px;
	border-radius: 20%;
	font-family: Meiryo;
}

.itemInfo > p {
	text-align: center;
}

.itemInfo > h3 {
	text-align: center;
	margin-bottom: 30px;
	font-weight: bold;
}

.itemInfo > h4 {
	text-align: center;
}

.itemInfo > form {
	margin-top: 30px;
	text-align: center;
}

#itemDetail {
	margin-top: 50px;
	/*margin-bottom: 50px;*/
}

#itemImg {
	object-fit: contain;
}

#itemDesc {
	font-size: 20px;
	font-family: Meiryo;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	word-wrap: break-word;
}

#displaySimilarItem {
	margin-top: 50px;
	margin-bottom: 50px;
}

#similarItem {
	margin-left: 0px;
	margin-bottom: 50px;
	font-size: 20px;
	width: 170px;
	height: 80px;
	margin-top: 50px;
}

.theme {

}

.description {
	line-height: 1.4em;
}

.ptheme {

}

.price {
	color: red;
}

.tempImages {
	width:300px;
	height:auto; 
	margin:0 auto;
	margin-bottom: 20px;
}

.itemOptions {
	margin:0 auto;
	width: 300px;
	height: 60px;
}

.itemOption {
	height: 60px;
	width: auto;
}