#logo{
	text-align: center;
}

#searchBox{
	text-align: center;
	vertical-align:middel;
}

.header {
	background-color: #dc143c;
	margin: 0 auto;
	padding: 0px;
	height: 50px;
	width: 100%;
}

.header > span{
	margin-left: 10px;
	color: white;
	font-size: 30px;
	font-family: Meiryo;
}

.footer {
	background-color: #dc143c;
	margin: 0 auto;
	padding: 0px;
	height: 200px;
	width: 100%;
}

.footer > h1{
	margin: 0 auto;
	color: white;
	font-size: 20px;
	text-align: center;
	font-family: Meiryo;
}

.footer > a{
	padding: 0px;
	margin: 0 auto;
	display: block;
	text-align: center;
	font-family: Meiryo;
}