*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.slider,
.thumb{
    margin: 20px auto;
    width: 20%;
}
.slider img,
.thumb img{
    height: auto;
    width: 100%;
}/*slick setting*/
.slick-prev:before,
.slick-next:before{
    color: #000;
}